#app {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100vmin;
  background-color: #222;
}

#sidebar {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 250px;
  background-color: #eee;
  transition-duration: 350ms;
  transition-timing-function: ease;
}

#sidebar > ul {
  list-style: none;
  padding: 0;
  margin: 25px auto;
}

#sidebar > ul > li {
  padding: 0;
  margin: 10px 0;
  cursor: pointer;
}

.menu-hide {
  transform: translate3d(-200px, 0, 0);
}
